<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Interface</h1>
    <h2>Welcome {{name}}</h2>


    {% if users != None %}
    <h4>User List</h4>
    {% for user in users %}
    <a href="{% url 'userdetail' user.id %}">{{user.username}}</a> <br><br>
    {% endfor %}
    {% endif %}


    {% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif %}


    <form action="" method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}


        {% if form %}
            {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
            {% endfor %}
        {% endif %}
        <input type="submit" value="Save">
    </form>


    <a href="{% url 'userchangepass' %}">Change Password</a>
    <a href="{% url 'userlogout' %}">Logout</a>
</body>
</html>